#background {
  position: fixed;
  inset: 0;
  z-index: -1;

  width: 100%;
  height: 100vh;
}

#background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#background::after {
  content: '';
  
  height: inherit;
  width: inherit;
  position: fixed;
  inset: 0;
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}
 
/* ben10-page-background */

#background-ben10 {
  position: fixed;
  inset: 0;
  z-index: -1;

  width: 100%;
  height: 100vh;
}

#background-ben10 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#background-ben10::after {
  content: '';
  
  height: inherit;
  width: inherit;
  position: fixed;
  inset: 0;
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}