.main__cards {
  display: flex;
  scroll-snap-type: x mandatory;
}

.card {
  flex: 0 0 auto;
  width: 200px; 
  margin-right: 10px;
  scroll-snap-align: start;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px; 
}

.card h1 {
  margin-top: 10px;
  font-size: 20px;
}

div .tittle{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
}